<!doctype html>
<title>budgetCap</title>
<link rel=stylesheet type=text/css href='../static/style.css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
        	<!-- Header -->
        	<header id="header">
        		<!-- Logo -->
        		<!--<h1 id="logo">Ebay Donation Center</h1>-->

        		<!-- Nav -->
        		<nav id="nav">
        			<ul>
        				<li><a href="#intro" class="scrolly">Home</a></li>
        				<li><a href="#one" class="scrolly">Accounts</a></li>
        				<li><a href="#two" class="scrolly">New Account</a></li>
        			</ul>
        		</nav>
        	</header>
        	
        	<body>
        	<body background="images/intro.jpg">

<section id="intro" class="main style1 dark fullscreen">
        		<div class="content container 75%">
    <h1></h1>
    <div class=intro>
  
      <h2>
        {{account}} is the account total.
      </h2>
  
    </div>
            			<footer>
        				<a href="#one" class="button scrolly style2">More</a>
        			</footer>
  </div>
</section>

<section id="one" class="main style1 dark fullscreen" style="padding-left:5em; background:url('pinstripe.png')">
        		<div class="content container 75%">
    <h1></h1>
    <div class=intro>
  
        <h2 style="font-size:1.5em">
          <div style="float: right; width: 50%">
              <ul style="color:black; font-family:'Open Sans', sans-serif; text-align:left; list-style-type:none">
                  <li style="margin-bottom:15px">Checking: ${{Checking}}.00</li>
                  <li style="margin-bottom:15px">Savings: ${{Savings}}.00</li>
              </ul>
          </div>
          <div style="float: left; margin-right: 200px">
              <ul style="font-family:'Open Sans', sans-serif; color:black; text-align:left; list-style-type:none">
                  <li style="margin-bottom:15px">{{Person}}</li>
                  <li style="margin-bottom:15px">Contractor</li>
                  <li style="margin-bottom:15px">Income: ${{Income}}.00</li>
                  <li style="margin-bottom:15px">Family of One</li>
              </ul>

          </div>
      </h2>
  
    </div>
  </div>
</section>


	<!-- Footer -->
	<footer id="footer">
		<!-- Icons -->
		<ul class="actions">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>

		</ul>
		<!-- Menu -->
		<ul class="menu">
			<li>&copy; reBay</li><li>Design: Steve | Denny | Pedro | Dag</li>
		</ul>

	</footer>

</body>
